
{% include 'partials/_navbar.html' %}
    
    <div class="container my-3">
        <div class="row">
            <div class="col-md-8">
                <section>
                    <div class="card">
                        <div class="card-header article-header">

                            <h2 >Stay a while and listen</h2>
                        </div>
                        <div class="card-body index-article" >
                            <article >
                                <p>This is a website which allows you to use the Social Media Tools which I created so far. I uploaded some of them to Github already.</p>
                                
                                <p>I will also share my knowledge of the social media platforms in detailed documentation. </p>
                                
                                <p>You can check out the full list of available social media platforms here and read the full list of available social media tools here. </p>
                                
                                <p>Please note that this platform is currently in beta version and might contain some bugs and errors. If you encounter any issues, please let me know. </p>
                            </article>
                        </div>
                        
                    </div>
                    
                </section>
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="static/img/sm.jfif" alt="" >
            </div>
            
        </div>
    </div>

    



{% include 'partials/_footer.html' %}